<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>org.shokai.phidgetsservo.plist</string>
  <key>ProgramArguments</key>
  <array>
    <string>/path/to/phidgets-servo-server</string>
    <string>-port</string>
    <string>8901</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>UserName</key>
  <string>sho</string>
  <key>WorkingDirectory</key>
  <string>/usr/local</string>
  <key>StandardErrorPath</key>
  <string>/var/log/phidgets-servo-server.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/phidgets-servo-server.log</string>
</dict>
</plist>
